html body div.layout-container header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9; }
  @media (max-width: 599px) {
    html body div.layout-container header div.region {
      margin: 0 16px; } }
  @media (min-width: 600px) {
    html body div.layout-container header div.region {
      margin: 0 auto; } }
  @media (min-width: 600px) and (max-width: 767px) {
    html body div.layout-container header div.region {
      width: 560px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    html body div.layout-container header div.region {
      width: 720px; } }
  @media (min-width: 1024px) and (max-width: 1279px) {
    html body div.layout-container header div.region {
      width: 960px; } }
  @media (min-width: 1280px) {
    html body div.layout-container header div.region {
      width: 1200px; } }
  html body div.layout-container header div.region nav {
    float: right;
    margin: 16px 0 16px 24px; }
  html body div.layout-container header div.region div.block {
    float: left;
    margin: 16px 24px 16px 0; }
html body div.layout-container main {
  margin-top: 76px; }
  @media (max-width: 599px) {
    html body div.layout-container main div.region {
      margin: 0 16px; } }
  @media (min-width: 600px) {
    html body div.layout-container main div.region {
      margin: 0 auto; } }
  @media (min-width: 600px) and (max-width: 767px) {
    html body div.layout-container main div.region {
      width: 560px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    html body div.layout-container main div.region {
      width: 720px; } }
  @media (min-width: 1024px) and (max-width: 1279px) {
    html body div.layout-container main div.region {
      width: 960px; } }
  @media (min-width: 1280px) {
    html body div.layout-container main div.region {
      width: 1200px; } }
html body div.layout-container footer {
  margin-top: 16px;
  padding: 16px 0; }
  @media (max-width: 599px) {
    html body div.layout-container footer div.region {
      margin: 0 16px; } }
  @media (min-width: 600px) {
    html body div.layout-container footer div.region {
      margin: 0 auto; } }
  @media (min-width: 600px) and (max-width: 767px) {
    html body div.layout-container footer div.region {
      width: 560px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    html body div.layout-container footer div.region {
      width: 720px; } }
  @media (min-width: 1024px) and (max-width: 1279px) {
    html body div.layout-container footer div.region {
      width: 960px; } }
  @media (min-width: 1280px) {
    html body div.layout-container footer div.region {
      width: 1200px; } }
  html body div.layout-container footer div.region nav {
    display: inline-block; }

html body div.layout-container header {
  top: 0; }
html body.toolbar-fixed div.layout-container header {
  top: 39px; }
html body.toolbar-fixed.toolbar-tray-open.toolbar-horizontal div.layout-container header {
  top: 79px; }

html body div.layout-container header {
  background-color: #000000;
  color: #ffffff; }
  html body div.layout-container header nav ul.menu {
    margin-top: 0;
    margin-bottom: 0; }
    html body div.layout-container header nav ul.menu li {
      display: inline-block;
      margin-left: 16px;
      padding-top: 0.2em;
      padding-bottom: 0.2em; }
      html body div.layout-container header nav ul.menu li a {
        color: #ffffff;
        text-decoration: none; }
  html body div.layout-container header div.site-name a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold; }

h1 {
  margin: 24px 0 12px 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #f57c00; }

a:link, a:visited, a:hover, a:active {
  color: #e65100;
  text-decoration: none; }

div.field--type-text-long {
  font-style: italic;
  line-height: 2em;
  font-size: 1.2em; }
  div.field--type-text-long pre.code {
    padding: 0.5rem;
    font-size: 0.85em;
    line-height: 1.2em;
    font-style: normal; }

html body div.layout-container > footer {
  clear: both;
  background-color: #000000;
  color: #ffffff; }
  html body div.layout-container > footer a {
    color: #ffffff;
    text-decoration: none; }

ul.tabs {
  background-color: #ffab40;
  margin: 8px 0;
  padding: 0 8px; }
  ul.tabs li {
    padding: 8px 0; }
    ul.tabs li.is-active {
      padding-bottom: 6px;
      border-bottom: 2px solid #000000; }
    ul.tabs li a:link, ul.tabs li a:visited, ul.tabs li a:hover, ul.tabs li a:active {
      color: #000000;
      background-color: initial; }

nav.action-links li a {
  background-color: #ffab40;
  color: #000000;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0.6em 0.6em 0.6em 1.2em;
  border-radius: 1em; }

div.field--name-project-packages div.field__items {
  float: left;
  width: calc(100% - 88px);
  margin: 0;
  padding: 0; }
  div.field--name-project-packages div.field__items > div.field__item {
    padding: 16px; }
    div.field--name-project-packages div.field__items > div.field__item div.field--name-version {
      border-top: 1px solid #f57c00;
      border-bottom: 1px solid #f57c00;
      margin: 8px 0;
      padding: 8px 0; }
      div.field--name-project-packages div.field__items > div.field__item div.field--name-version div.field__item {
        font-weight: bold; }
    div.field--name-project-packages div.field__items > div.field__item div.field--name-created {
      text-align: right;
      font-style: italic; }
    div.field--name-project-packages div.field__items > div.field__item div.field--name-package-composer {
      border-top: 1px solid #f57c00;
      border-bottom: 1px solid #f57c00;
      margin: 8px 0;
      padding: 8px 0; }
      div.field--name-project-packages div.field__items > div.field__item div.field--name-package-composer div.field__item {
        display: flex;
        flex-direction: row; }
        div.field--name-project-packages div.field__items > div.field__item div.field--name-package-composer div.field__item div.item-list {
          flex: 1 1 auto; }
    div.field--name-project-packages div.field__items > div.field__item p.composer {
      font-style: italic;
      font-size: 1.25em;
      margin: 0;
      padding: 0.5em 0; }
div.field--name-project-packages ul.packages-version-list {
  float: right;
  width: 72px;
  margin: 0;
  padding: 0;
  list-style: none; }
  div.field--name-project-packages ul.packages-version-list li {
    text-align: right;
    padding: 4px 8px;
    cursor: pointer; }
    div.field--name-project-packages ul.packages-version-list li.active {
      background-color: #ffab40; }

div#packages-home-search-wrapper {
  background-color: #ffab40;
  padding: 2rem 0;
  transition: padding-top 250ms, padding-bottom 250ms; }
  div#packages-home-search-wrapper input#packages-home-search {
    display: block;
    border: none;
    border-radius: 2px;
    width: 32rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 8px;
    font-size: 24px;
    transition: font-size 200ms, padding 200ms; }
  div#packages-home-search-wrapper.active {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: padding-top 200ms, padding-bottom 200ms; }
    div#packages-home-search-wrapper.active input#packages-home-search {
      font-size: 16px;
      padding: 4px; }

div.composer-project.composer-project-teaser {
  padding: 16px 0;
  margin: 16px 0;
  border-bottom: 1px solid #9a9a9a; }
  div.composer-project.composer-project-teaser:last-child {
    border-bottom: none; }
  div.composer-project.composer-project-teaser .field--name-title {
    font-size: 1.45rem; }
  div.composer-project.composer-project-teaser .field--name-project-description {
    font-size: initial;
    line-height: 1.45em; }

form div.form-item label {
  display: block;
  margin: 0;
  padding: 0.5rem 0; }
form div.form-item div.description {
  padding: 0.5rem;
  font-style: italic; }

/*# sourceMappingURL=packagist.css.map */
