$header-background:         #000000;
$header-foreground:         #ffffff;

$body-primary-color:        #f57c00;
$body-primary-color-dark:   #e65100;
$body-primary-color-accent: #ffab40;
$body-foreground:           #000000;

$divider:                   #9a9a9a;