h1 {
  margin: 24px 0 12px 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid $body-primary-color;
}

a {
  &:link, &:visited, &:hover, &:active {
    color: $body-primary-color-dark;
    text-decoration: none;
  }
}

div {
  &.field--type-text-long {
    font-style: italic;
    line-height: 2em;
    font-size: 1.2em;
  }
}