div {
  &.field--name-project-packages {
    div {
      &.field__items {
        float: left;
        width: calc(100% - 88px);
        margin: 0;
        padding: 0;
        & > div {
          &.field__item {
            padding: 16px;
            div {
              &.field--name-version {
                border-top: 1px solid $body-primary-color;
                border-bottom: 1px solid $body-primary-color;
                margin: 8px 0;
                padding: 8px 0;
                div {
                  &.field__item {
                    font-weight: bold;
                  }
                }
              }
              &.field--name-created {
                text-align: right;
                font-style: italic;
              }
              &.field--name-package-composer {
                border-top: 1px solid $body-primary-color;
                border-bottom: 1px solid $body-primary-color;
                margin: 8px 0;
                padding: 8px 0;
                &.field__item {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  div {
                    &.item-list {
                      flex: 1 1 auto;
                      width: 50%;
                    }
                    &.composer-extra {
                      width: 100%;
                    }
                  }
                }
                div {
                  &.field__item {
                    display: flex;
                    flex-direction: row;
                    div {
                      &.item-list {
                        flex: 1 1 auto;
                      }
                    }
                  }
                }
              }
            }
            p {
              &.composer {
                font-style: italic;
                font-size: 1.25em;
                margin: 0;
                padding: 0.5em 0;
              }
            }
          }
        }
      }
    }
    ul {
      &.packages-version-list {
        float: right;
        width: 72px;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          text-align: right;
          padding: 4px 8px;
          cursor: pointer;
          &.active {
            background-color: $body-primary-color-accent;
          }
        }
      }
    }
  }
}

div {
  &#packages-home-search-wrapper {
    background-color: $body-primary-color-accent;
    padding: 2rem 0;
    transition: padding-top 250ms, padding-bottom 250ms;
    input {
      &#packages-home-search {
        display: block;
        border: none;
        border-radius: 2px;
        width: 32rem;
        max-width: 80%;
        margin: 0 auto;
        padding: 8px;
        font-size: 24px;
        transition: font-size 200ms, padding 200ms;
      }
    }
    &.active {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      transition: padding-top 200ms, padding-bottom 200ms;
      input {
        &#packages-home-search {
          font-size: 16px;
          padding: 4px;
        }
      }
    }
  }
}