div {
  &.composer-project {
    &.composer-project-teaser {
      padding: 16px 0;
      margin: 16px 0;
      border-bottom: 1px solid $divider;
      &:last-child {
        border-bottom: none;
      }
      .field--name-title {
        font-size: 1.45rem;
      }
      .field--name-project-description {
        font-size: initial;
        line-height: 1.45em;
      }
    }
  }
}